<!DOCTYPE html>
<html dir="ltr" lang="en-AR">
	<head>	
		<title>San Luis Propiedades - {% block title %}{% endblock %}</title>
		<meta charset="UTF-8" />
		<link rel="shortcut icon" href="http://c347524.r24.cf1.rackcdn.com/favicon.ico" />
		<link rel="stylesheet" type="text/css" media="all" href="/static/css/style.css" />
		<script type='text/javascript' src='http://c347524.r24.cf1.rackcdn.com/jquery-1.5.1.min.js'></script>
		<script type='text/javascript' src='http://c347524.r24.cf1.rackcdn.com/cufon-yui.js'></script>
		<script type='text/javascript' src='http://c347524.r24.cf1.rackcdn.com/PT_Sans_400.font.js'></script>
		<script type='text/javascript' src='http://c347524.r24.cf1.rackcdn.com/superfish.js'></script>
		<script type='text/javascript' src='http://c347524.r24.cf1.rackcdn.com/general.js'></script>
		<script type='text/javascript' src='http://c347524.r24.cf1.rackcdn.com/supersubs.js'></script>
		<script type='text/javascript' src='http://c347524.r24.cf1.rackcdn.com/jquery.cycle.all.min.js'></script>
	</head>
	<body>

		<div id="top-container">
			<div class="centercolumn">
				<div id="header">
					<div id="logo">
						<a href="http://demowp.templatesquare.com/lighthouse/" title="San Luis Propiedades - Inicio" rel="Inicio">
							<img src="http://c347524.r24.cf1.rackcdn.com/logo.png" alt="" />
						</a>
					</div>
					{% include "navigator.html" %}
					<div class="clr"></div>
				</div>
			</div>
		</div>
	
		<div class="centercolumn">
			{% block centercolumn %}{% endblock %}
		</div>
	
		<div id="bottom-container">
			<div class="centercolumn">		
				<div id="footer">
					<div id="footer-left">									 
	 					<div class="one_fourth">
							<div class="widget-area">
								<ul>
									<li id="nav_menu-3" class="widget-container widget_nav_menu">
										<h2 class="widget-title">About Us</h2>
										<div class="menu-aboutmenu-container">
											<ul id="menu-aboutmenu" class="menu">
												<li id="menu-item-397" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-397">
													<a href="#">About Lighthouse</a>
												</li>
<li id="menu-item-398" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-398"><a href="#">Terms and Conditions</a></li>
<li id="menu-item-399" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-399"><a href="#">Privacy Policy</a></li>
<li id="menu-item-400" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-400"><a href="#">Security</a></li>
<li id="menu-item-401" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-401"><a href="#">Community Guidelines</a></li>
</ul></div></li></ul></div>
					</div><!-- end #one_fourth -->
										
										<div class="one_fourth ">
						<div class="widget-area">
	<ul><li id="nav_menu-4" class="widget-container widget_nav_menu"><h2 class="widget-title">Here to Help</h2><div class="menu-helpmenu-container"><ul id="menu-helpmenu" class="menu"><li id="menu-item-402" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-402"><a href="#">Help and FAQs</a></li>
<li id="menu-item-403" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-403"><a href="#">Home Price</a></li>
<li id="menu-item-404" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-404"><a href="#">Market View</a></li>
<li id="menu-item-590" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-590"><a href="#">Free Credit Report</a></li>
<li id="menu-item-591" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-591"><a href="#">Local Info</a></li>
<li id="menu-item-592" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-592"><a href="#">Buying 101</a></li>
<li id="menu-item-593" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-593"><a href="#">Closing and Beyond</a></li>
</ul></div></li></ul></div>
					</div><!-- end #one_fourth -->
										
										<div class="one_fourth ">
						<div class="widget-area">
	<ul><li id="nav_menu-5" class="widget-container widget_nav_menu"><h2 class="widget-title">Special Offers</h2><div class="menu-spesial-container"><ul id="menu-spesial" class="menu"><li id="menu-item-594" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-594"><a href="#">Moving Home?</a></li>
<li id="menu-item-595" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-595"><a href="#">House Price Report</a></li>
<li id="menu-item-596" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-596"><a href="#">Need a Home Loan?</a></li>
<li id="menu-item-597" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-597"><a href="#">Loan Comparison</a></li>
<li id="menu-item-598" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-598"><a href="#">For Sale by Owner</a></li>
</ul></div></li></ul></div>
					</div><!-- end #one_fourth -->
										
										<div class="one_fourth last">
						<div class="widget-area">
	<ul><li id="nav_menu-6" class="widget-container widget_nav_menu"><h2 class="widget-title">Contact Us</h2><div class="menu-contact-container"><ul id="menu-contact" class="menu"><li id="menu-item-599" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-599"><a href="#">Ask a Questions</a></li>
<li id="menu-item-600" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-600"><a href="#">Career Oportunity</a></li>
<li id="menu-item-601" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-601"><a href="#">Advertise with Us</a></li>
<li id="menu-item-602" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-602"><a href="#">Become an Agent</a></li>
</ul></div></li></ul></div>
					</div><!-- end #one_fourth -->
										
				</div><!-- end #footer-left -->
				
<div id="footer-right">
	<div class="widget-area">
	<ul>
		<li class="widget-container widget_text">
			<div class="textwidget">
				<h2>Newsletter Sign Up</h2>
				<div class="wpcf7">
					<form action="#" method="post" class="wpcf7-form">
						<input type="text" name="your-email" class="wpcf7-text" size="40" value="enter your email here..." />
						<br />
						<input type="submit" value="subscribe" class="wpcf7-submit button" />
					</form>
				</div>
			</div>
		</li>
	</ul>
</div>
									</div><!-- end #footer-right -->
			</div><!-- end #footer -->
			<div class="clear"></div>
			<div id="copyright">
												Copyright &copy;
				2011 <a href="http://demowp.templatesquare.com/lighthouse/">Lighthouse</a>. All rights reserved.	
							</div>
			
		 	<div class="clear"></div>
		</div><!-- end #centercolumn -->
	
	</div><!-- end #bottom-container -->
	<script type="text/javascript">Cufon.now();</script> 
</body>
</html>
