<!DOCTYPE HTML>
<html lang="es-AR">
<head>
<meta charset="UTF-8">
<title>SanLuisPropiedades - En Construcción</title>
<link rel="shortcut icon" href="http://c347524.r24.cf1.rackcdn.com/favicon.ico" />
<link rel="stylesheet" type="text/css" href="http://c349177.r77.cf1.rackcdn.com/reset.css" />
<link rel="stylesheet" type="text/css" href="http://c349177.r77.cf1.rackcdn.com/layout.css" />
<link rel="stylesheet" type="text/css" href="http://c349177.r77.cf1.rackcdn.com/blue.css" />
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="style/css/ie.css" />
<![endif]-->
<script type="text/javascript" src="http://c349177.r77.cf1.rackcdn.com/jquery-1.4.min.js"></script>
<script type="text/javascript" src="http://c349177.r77.cf1.rackcdn.com/jquery.countdown.min.js"></script>
<script type="text/javascript" src="http://c349177.r77.cf1.rackcdn.com/jquery.countdown-es.js"></script>
<script type="text/javascript" src="http://c349177.r77.cf1.rackcdn.com/cufon.yui.js"></script>
<script type="text/javascript" src="http://c349177.r77.cf1.rackcdn.com/junction.js"></script>
<script type="text/javascript">
	Cufon.replace('h2, p, h3');
	$(function () {var newYear = new Date();newYear = new Date(2012, 06 - 1, 1);$('.defaultCountdown').countdown({until: newYear, format: 'DHMS'});});
</script>
</head>
<body>
<div id="wrapper">
  <div id="logo"> <a href="/"><img src="http://c349177.r77.cf1.rackcdn.com/logo.png" alt="Company Name" /></a> </div>
  <!--end-logo-->
  <div id="page-container">
    <div class="container"> <div class="content">
      <h2>Nuestro sitio esta en construccion.</h2>
      <p>Vamos a estar aqui muy pronto, con una nueva pagina web.</p>
      <span class="defaultCountdown"></span><!--end-countdown--> 
      
      <!-- Newsletter -->
      <div id="newsletter">
        <form action="#" name="newsletterForm" id="newsletterForm">
          <input class="newsletter" type="text" name="newsletter" id="email" onclick="return false;" value="Ingrese su E-mail para suscribirse.">
          <button type="submit" class="submit">Enviar</button>
        </form>
        <div class="clear"></div>
        <div class="resultText"></div>
      </div>
      
      <!-- End Newsletter -->
      
      <div class="contact-wrapper">
        <div class="social"> <div class="contact-text">
          <h3>Siguenos en:</h3>
          <ul class="links">
            <li><a target="_blank" href="http://www.facebook.com/pages/SanLuisPropiedades/226648750782850"><img src="http://c349177.r77.cf1.rackcdn.com/icon-fb.png" alt="Facebook" title="Facebook" /></a></li>
            <li><a target="_blank" href="https://twitter.com/#!/SanLuisPropieda"><img src="http://c349177.r77.cf1.rackcdn.com/icon-tw.png" alt="Twitter" title="Twitter" /></a></li>
          </ul>
          </div>
          <!--end-social-links--> 
        </div>
      </div>
      </div> </div>
    <div class="shadow"></div>
  </div>
  <!--end-page-container--> 
</div>
<!--end-wrapper-->
<div style="clear:both;"></div>
</div>
</body>
</html>
