{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block	centercolumn %}
	
<div id="slider_container">
	<div id="slideshow_navigation">
		<div id="pager"></div>
	</div>
	<div id="slideshow">
		<div class="cycle">			
			<img width="518" height="360" src="http://c347524.r24.cf1.rackcdn.com/Untitled-8-518x360.jpg" class="attachment-property-slider-home wp-post-image" alt="" title="" />			
			<div class="frame-slide-text">
				<ul class="slide-text">
					<li><h3><a href="#">Dirección de la Propiedad, Localidad</a></h3></li>
					<li><span class="left">Address</span>140 Spring Leaf Jacksonville , North Carolina  </li>
					<li><span class="left">House Size</span>1750 sqft</li>
					<li><span class="left">Year Built</span>2011</li>
					<li><span class="left">Baths</span>2</li>
				</ul>
				<div class="frame-price">
					<div class="slider-button">
						<a href="http://demowp.templatesquare.com/lighthouse/property/140-spring-leaf-lane/">Ver más</a>
					</div>
					<div class="slider-price">$ 250.000</div>
				</div>
			</div>
		</div>

		<div class="cycle">
			<img width="518" height="360" src="http://c347524.r24.cf1.rackcdn.com/Untitled-10-518x360.jpg" class="attachment-property-slider-home wp-post-image" alt="" title="" />			
			<div class="frame-slide-text">
				<ul class="slide-text">
					<li><h3><a href="#">Dirección de la Propiedad, Localidad</a></h3></li><li><span class="left">House Size</span>5200 sqft</li><li><span class="left">Year Built</span>2010</li><li><span class="left">Baths</span>3</li><li><span class="left">Beds</span>5</li>					</ul>
					<div class="frame-price">
						<div class="slider-button"><a href="http://demowp.templatesquare.com/lighthouse/property/196-royal-bluff-road/">Ver más</a></div>
						<div class="slider-price">U$S 80.000</div>					</div>
				</div>
			</div><!-- end cycle -->
			<div class="cycle">
				<img width="518" height="360" src="http://c347524.r24.cf1.rackcdn.com/1143680_98915434-518x360.jpg" class="attachment-property-slider-home wp-post-image" alt="" title="" />			
				<div class="frame-slide-text">
					<ul class="slide-text">
						<li><h3><a href="#">Dirección de la Propiedad, Localidad</a></h3></li><li><span class="left">House Size</span>5,000 sq ft sqft</li><li><span class="left">Year Built</span>2010</li><li><span class="left">Baths</span>4</li><li><span class="left">Beds</span>5</li>					</ul>
					<div class="frame-price">
						<div class="slider-button"><a href="http://demowp.templatesquare.com/lighthouse/property/downtown-royalty/">more info</a></div>
						<div class="slider-price">$ 1,195</div>					</div>
				</div>
			</div><!-- end cycle -->
			<div class="cycle">
				<img width="518" height="360" src="http://c347524.r24.cf1.rackcdn.com/285480_9748-518x360.jpg" class="attachment-property-slider-home wp-post-image" alt="" title="" />			
				<div class="frame-slide-text">
					<ul class="slide-text">
						<li><h3><a href="#">Dirección de la Propiedad, Localidad</a></h3></li><li><span class="left">House Size</span>3,000 sq ft sqft</li><li><span class="left">Year Built</span>2009</li><li><span class="left">Baths</span>2</li><li><span class="left">Beds</span>3</li>					</ul>
					<div class="frame-price">
						<div class="slider-button"><a href="http://demowp.templatesquare.com/lighthouse/property/freah-white-cottage/">more info</a></div>
						<div class="slider-price">$ 2,500</div>					</div>
				</div>
			</div><!-- end cycle -->
			<div class="cycle">
				<img width="518" height="360" src="http://c347524.r24.cf1.rackcdn.com/285475_5227-518x360.jpg" class="attachment-property-slider-home wp-post-image" alt="" title="" />			
				<div class="frame-slide-text">
					<ul class="slide-text">
						<li><h3><a href="#">Dirección de la Propiedad, Localidad</a></h3></li><li><span class="left">House Size</span>2,700 sq ft sqft</li><li><span class="left">Year Built</span>2011</li><li><span class="left">Baths</span>5</li><li><span class="left">Beds</span>5</li>					</ul>
					<div class="frame-price">
						<div class="slider-button"><a href="http://demowp.templatesquare.com/lighthouse/property/integer-placerat-egestas-duis/">more info</a></div>
						<div class="slider-price">$ 1,900</div>					</div>
				</div>
			</div><!-- end cycle -->
			<div class="cycle">
				<img width="518" height="360" src="http://c347524.r24.cf1.rackcdn.com/285473_3728-518x360.jpg" class="attachment-property-slider-home wp-post-image" alt="" title="" />			
				<div class="frame-slide-text">
					<ul class="slide-text">
						<li><h3><a href="#">Dirección de la Propiedad, Localidad</a></h3></li><li><span class="left">House Size</span>2,700 sq ft sqft</li><li><span class="left">Year Built</span>2010</li><li><span class="left">Baths</span>5</li><li><span class="left">Beds</span>4</li>					</ul>
					<div class="frame-price">
						<div class="slider-button"><a href="http://demowp.templatesquare.com/lighthouse/property/lorem-ipsum-dolor-sit-amet-2/">more info</a></div>
						<div class="slider-price">$ 2,100</div>					</div>
				</div>
		</div>

	</div>
</div>
						
<div id="advance-search-grid-property">					
	<form id="search" method="POST" action="/buscar/">
		<div id="searchMain">
			<label for="operation">
				<span class="colortext">Operación</span><br />
				<select name="operation" id="operation">
					<option value="2" >Venta</option>
					<option value="1" >Alquiler</option>
				</select>
			</label>
			<label for="propertie">
				<span class="colortext">Propiedad</span><br />
				<select name="propertie" id="propertie">
					<option value="1" >Campos</option>
					<option value="2" >Casas</option>
					<option value="3" >Departamentos</option>
					<option value="4" >Galpones</option>
					<option value="5" >Locales Comerciales</option>
				</select>
			</label>
			<label for="locale">
				<span class="colortext">Ubicación</span><br />
				<select name="locale" id="locale">
					<option value="1" >San Luis</option>
					<option value="2" >San Francisco</option>
				</select>
			</label>
			<label for="price">
				<span class="colortext">Precio</span><br />
				<input type="text" id="advprice1" name="advprice1"  size="7" value="Desde" />
				<input type="text" id="advprice2" name="advprice2" size="7" value="Hasta" />
			</label>
			<label for="money">
				<span class="colortext">Moneda</span><br />
				<select name="money" id="money">
					<option value="1" >$</option>
					<option value="2" >U$S</option>
				</select>
			</label>
			<label for="ambiente">
				<span class="colortext">Ambientes</span><br />
				<select name="ambiente" id="ambiente">
					<option value="1" >1</option>
					<option value="2" >2</option>
					<option value="3" >5 o más</option>
				</select>
			</label>
			<label class="last"><br />
				<button type="submit" value="Buscar" id="searchsubmit">Buscar</button>
			</label>
			<div class="clear"></div>
		</div>
	</form>
	<div class="clear"></div>
</div> 
		<div id="maincontent">
		
			
		
			<div id="content" class="full">
													
				<div id="post-653" class="post-653 page type-page status-publish hentry">
					<div class="entry-content">
						<ul class="three_column">
<li>
<h2 class="underline">Creative <span class="colortext">Solutions</span></h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis ligula velit. Etiam odio quam, lobortis eget porttitor nec, congue in lacus. In venenatis neque a eros laoreet eu placerat erat suscipit. Fusce cursus, erat ut scelerisque condimentum, quam odio ultrices leo. </p>
</li>
<li>
<h2 class="underline">Customer <span class="colortext">Features</span></h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis ligula velit. Etiam odio quam, lobortis eget porttitor nec, congue in lacus. In venenatis neque a eros laoreet eu placerat erat suscipit. Fusce cursus, erat ut scelerisque condimentum, quam odio ultrices leo. </p>
</li>
<li class="last">
<h2 class="underline">Helpful <span class="colortext">Services</span></h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis ligula velit. Etiam odio quam, lobortis eget porttitor nec, congue in lacus. In venenatis neque a eros laoreet eu placerat erat suscipit. Fusce cursus, erat ut scelerisque condimentum, quam odio ultrices leo. </p>
</li>
</ul>
<p>				<br class="clear" /><br />
				</p>
<div class="title_featured"><h2>Featured Home <span class="colortext">For Sale</span></h2></div><div class="clr"></div>







<div id="slideshow_back">
<ul class="four_column_properties">
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/Untitled-8-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/140-spring-leaf-lane/">140 Spring Leaf Jacksonville North Carolina</a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 3 </li>
			<li><span class="left">Baths:</span> 2 </li>
			<li><span class="left">House size:</span> 1750 sqft </li>
			<li><span class="left">Lot size:</span> 0,19 acres </li>
		</ul>
	</li>
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/Untitled-10-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/196-royal-bluff-road/">196 Royal Bluff Rd Jacksonville<br/>North Carolina</a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 5 </li>
			<li><span class="left">Baths:</span> 3 </li>
			<li><span class="left">House size:</span> 5200 sqft </li>
			<li><span class="left">Lot size:</span> 0,19 acres </li>
		</ul>
	</li>
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/1143680_98915434-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/downtown-royalty/">6215 Head Rd Wilmington <br/> North Carolina  </a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 5 </li>
			<li><span class="left">Baths:</span> 4 </li>
			<li><span class="left">House size:</span> 5,000 sq ft sqft </li>
			<li><span class="left">Lot size:</span> 0,19 Acres acres </li>
		</ul>
	</li>
	<li class="last">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/285480_9748-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/freah-white-cottage/">205 Airlie Rd Wilmington <br/> North Carolina  </a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 3 </li>
			<li><span class="left">Baths:</span> 2 </li>
			<li><span class="left">House size:</span> 3,000 sq ft sqft </li>
			<li><span class="left">Lot size:</span> 0,19 Acres acres </li>
		</ul>
	</li>
</ul>
<ul class="four_column_properties">
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/821237_85037191-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/downtown-royalty/">6215 Head Rd Wilmington <br/> North Carolina  </a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 5 </li>
			<li><span class="left">Baths:</span> 4 </li>
			<li><span class="left">House size:</span> 5,000 sq ft sqft </li>
			<li><span class="left">Lot size:</span> 0,19 Acres acres </li>
		</ul>
	</li>
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/285475_5227-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/196-royal-bluff-road/">196 Royal Bluff Rd Jacksonville<br/>North Carolina</a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 5 </li>
			<li><span class="left">Baths:</span> 3 </li>
			<li><span class="left">House size:</span> 5200 sqft </li>
			<li><span class="left">Lot size:</span> 0,19 acres </li>
		</ul>
	</li>
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/285473_3728-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/140-spring-leaf-lane/">140 Spring Leaf Jacksonville North Carolina</a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 3 </li>
			<li><span class="left">Baths:</span> 2 </li>
			<li><span class="left">House size:</span> 1750 sqft </li>
			<li><span class="left">Lot size:</span> 0,19 acres </li>
		</ul>
	</li>
	<li class="last">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/Untitled-61-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/freah-white-cottage/">205 Airlie Rd Wilmington <br/> North Carolina  </a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 3 </li>
			<li><span class="left">Baths:</span> 2 </li>
			<li><span class="left">House size:</span> 3,000 sq ft sqft </li>
			<li><span class="left">Lot size:</span> 0,19 Acres acres </li>
		</ul>
	</li>
</ul>
<ul class="four_column_properties">
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/Untitled-8-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/140-spring-leaf-lane/">140 Spring Leaf Jacksonville North Carolina</a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 3 </li>
			<li><span class="left">Baths:</span> 2 </li>
			<li><span class="left">House size:</span> 1750 sqft </li>
			<li><span class="left">Lot size:</span> 0,19 acres </li>
		</ul>
	</li>
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/Untitled-10-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/196-royal-bluff-road/">196 Royal Bluff Rd Jacksonville<br/>North Carolina</a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 5 </li>
			<li><span class="left">Baths:</span> 3 </li>
			<li><span class="left">House size:</span> 5200 sqft </li>
			<li><span class="left">Lot size:</span> 0,19 acres </li>
		</ul>
	</li>
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/1143680_98915434-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/downtown-royalty/">6215 Head Rd Wilmington <br/> North Carolina  </a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 5 </li>
			<li><span class="left">Baths:</span> 4 </li>
			<li><span class="left">House size:</span> 5,000 sq ft sqft </li>
			<li><span class="left">Lot size:</span> 0,19 Acres acres </li>
		</ul>
	</li>
	<li class="last">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/285480_9748-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/freah-white-cottage/">205 Airlie Rd Wilmington <br/> North Carolina  </a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 3 </li>
			<li><span class="left">Baths:</span> 2 </li>
			<li><span class="left">House size:</span> 3,000 sq ft sqft </li>
			<li><span class="left">Lot size:</span> 0,19 Acres acres </li>
		</ul>
	</li>
</ul>
<ul class="four_column_properties">
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/821237_85037191-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/downtown-royalty/">6215 Head Rd Wilmington <br/> North Carolina  </a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 5 </li>
			<li><span class="left">Baths:</span> 4 </li>
			<li><span class="left">House size:</span> 5,000 sq ft sqft </li>
			<li><span class="left">Lot size:</span> 0,19 Acres acres </li>
		</ul>
	</li>
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/285475_5227-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/196-royal-bluff-road/">196 Royal Bluff Rd Jacksonville<br/>North Carolina</a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 5 </li>
			<li><span class="left">Baths:</span> 3 </li>
			<li><span class="left">House size:</span> 5200 sqft </li>
			<li><span class="left">Lot size:</span> 0,19 acres </li>
		</ul>
	</li>
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/285473_3728-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/140-spring-leaf-lane/">140 Spring Leaf Jacksonville North Carolina</a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 3 </li>
			<li><span class="left">Baths:</span> 2 </li>
			<li><span class="left">House size:</span> 1750 sqft </li>
			<li><span class="left">Lot size:</span> 0,19 acres </li>
		</ul>
	</li>
	<li class="last">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/Untitled-61-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/freah-white-cottage/">205 Airlie Rd Wilmington <br/> North Carolina  </a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 3 </li>
			<li><span class="left">Baths:</span> 2 </li>
			<li><span class="left">House size:</span> 3,000 sq ft sqft </li>
			<li><span class="left">Lot size:</span> 0,19 Acres acres </li>
		</ul>
	</li>
</ul>
<ul class="four_column_properties">
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/Untitled-8-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/140-spring-leaf-lane/">140 Spring Leaf Jacksonville North Carolina</a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 3 </li>
			<li><span class="left">Baths:</span> 2 </li>
			<li><span class="left">House size:</span> 1750 sqft </li>
			<li><span class="left">Lot size:</span> 0,19 acres </li>
		</ul>
	</li>
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/Untitled-10-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/196-royal-bluff-road/">196 Royal Bluff Rd Jacksonville<br/>North Carolina</a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 5 </li>
			<li><span class="left">Baths:</span> 3 </li>
			<li><span class="left">House size:</span> 5200 sqft </li>
			<li><span class="left">Lot size:</span> 0,19 acres </li>
		</ul>
	</li>
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/1143680_98915434-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/downtown-royalty/">6215 Head Rd Wilmington <br/> North Carolina  </a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 5 </li>
			<li><span class="left">Baths:</span> 4 </li>
			<li><span class="left">House size:</span> 5,000 sq ft sqft </li>
			<li><span class="left">Lot size:</span> 0,19 Acres acres </li>
		</ul>
	</li>
	<li class="last">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/285480_9748-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/freah-white-cottage/">205 Airlie Rd Wilmington <br/> North Carolina  </a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 3 </li>
			<li><span class="left">Baths:</span> 2 </li>
			<li><span class="left">House size:</span> 3,000 sq ft sqft </li>
			<li><span class="left">Lot size:</span> 0,19 Acres acres </li>
		</ul>
	</li>
</ul>
<ul class="four_column_properties">
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/821237_85037191-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/downtown-royalty/">6215 Head Rd Wilmington <br/> North Carolina  </a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 5 </li>
			<li><span class="left">Baths:</span> 4 </li>
			<li><span class="left">House size:</span> 5,000 sq ft sqft </li>
			<li><span class="left">Lot size:</span> 0,19 Acres acres </li>
		</ul>
	</li>
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/285475_5227-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/196-royal-bluff-road/">196 Royal Bluff Rd Jacksonville<br/>North Carolina</a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 5 </li>
			<li><span class="left">Baths:</span> 3 </li>
			<li><span class="left">House size:</span> 5200 sqft </li>
			<li><span class="left">Lot size:</span> 0,19 acres </li>
		</ul>
	</li>
	<li class="">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/285473_3728-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/140-spring-leaf-lane/">140 Spring Leaf Jacksonville North Carolina</a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 3 </li>
			<li><span class="left">Baths:</span> 2 </li>
			<li><span class="left">House size:</span> 1750 sqft </li>
			<li><span class="left">Lot size:</span> 0,19 acres </li>
		</ul>
	</li>
	<li class="last">
		<img width="185" height="120" src="http://c347524.r24.cf1.rackcdn.com/Untitled-61-185x120.jpg" class="attachment-property-grid wp-post-image" alt="" title="" />
		<h6><a href="http://demowp.templatesquare.com/lighthouse/property/freah-white-cottage/">205 Airlie Rd Wilmington <br/> North Carolina  </a></h6>
		<ul class="box_text">
			<li><span class="left">Beds:</span> 3 </li>
			<li><span class="left">Baths:</span> 2 </li>
			<li><span class="left">House size:</span> 3,000 sq ft sqft </li>
			<li><span class="left">Lot size:</span> 0,19 Acres acres </li>
		</ul>
	</li>
</ul>
</div>
<div id="pager_back"></div>

<style type="text/css">

</style>


												<div class="clear"></div>
											</div><!-- .entry-content -->
				</div><!-- #post -->
	
				
			<div id="comments">


	<p class="nocomments">Comments are closed.</p>


								
</div><!-- #comments -->
	
							</div><!-- end #content -->
			<div class="clear"></div>
		</div><!-- end #maincontent -->
{% endblock %}	
