<div id="navigation">
	<ul id="nav" class="sf-menu">
		<li class="current_page_item"><a href="{% url index %}" >Inicio</a></li>
		<li><a href="#" >Alquiler</a>
			<ul>
				<li><a href="{% url house_rent_list %}">Casa</a></li>
				<li><a href="{% url departament_rent_list %}">Departamento</a></li>
				<li><a href="{% url office_rent_list %}">Oficinas</a></li>
				<li><a href="{% url land_rent_list %}">Campos</a></li>
				<li><a href="{% url shed_rent_list %}">Galpones</a></li>
				<li><a href="{% url localbusiness_rent_list %}">Locales Comerciales</a></li>
			</ul>
		</li>
                    
                    <li><a href="#" class="current">Venta</a>
						<ul>
							<li><a href="{% url house_sale_list %}">Casa</a></li>
							<li><a href="{% url departament_sale_list %}">Departamento</a></li>
                            <li><a href="{% url office_sale_list %}">Oficinas</a></li>
							<li><a href="{% url land_sale_list %}">Campos</a></li>
                            <li><a href="{% url shed_sale_list %}">Galpones</a></li>
                            <li><a href="{% url localbusiness_sale_list %}">Loc. Comerciales</a></li>
						</ul>
						
					</li>
                    
                   <li><a href="#">Oportunidades</a>
						<ul>
							<li><a href="#">Emprendimientos</a></li>
							<li><a href="#">Fideicomisos</a></li>
                            <li><a href="#">Loteos</a></li>
							<li><a href="#">Fondos de Com.</a></li>
						</ul>
					</li>
                    
                    <li><a href="#">Inmobiliarias</a></li>
                    
                    <li><a href="#">Contacto</a></li>
				   
				</ul>
			</div><!-- end #navigation-->

